<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ai_macrofy_java"
        android:largeHeap="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PermissionRequestActivity"
            android:theme="@style/Theme.Transparent"
            android:exported="false" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="true"
            android:label="Settings"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".ui.WebViewActivity"
            android:exported="false"
            android:label="Login to Google"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <activity
            android:name=".ui.AssistantTriggerActivity"
            android:exported="true"
            android:theme="@style/Theme.Transparent"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.example.ai_macrofy.action.EXECUTE_MACRO" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 추가: 파일 공유를 위한 FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <service
            android:name=".services.accessibility.MacroAccessibilityService"
            android:label="Ai_macrofy (Macro)"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/macro_accessibility_service_config" />
        </service>
        <service
            android:name=".services.accessibility.LayoutAccessibilityService"
            android:label="Ai_macrofy (Layout)"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/layout_accessibility_service_config" />
        </service>

        <service
            android:name=".services.foreground.MyForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync|mediaProjection" />

        <service
            android:name=".services.downloader.ModelDownloadService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>